* {
  margin: 0;
  padding: 0;
  --primary-color: #c9971a;
  --secondary-color: #fff9ef;
  --accent-color: #1d1d1b;
  font-family: "Cairo", sans-serif;
}

html,
body {
  overflow-x: hidden;
}
body.ar {
  font-family: "Tajawal", sans-serif;
  font-size: 22px; /* يكبر شوي للغة العربية */
  padding-top: 150px; /* first-nav + navbar */
}

.carousel-item img,
.carousel-item video {
  max-width: 100%;
  height: auto;
}

body {
  padding-top: 100px;
}

@media (max-width: 768px) {
  body {
    padding-top: 140px;
  }
}

.first-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1100;
}

.first-nav ul {
  list-style: none; /* يشيل النقاط */
  margin: 0;
  padding: 0;
  display: inline-flex; /* يخلي العناصر صف واحد */
  gap: 0px;
  display: flex;
  justify-content: space-around; /* مسافة بين العناصر */
}

.first-nav li a {
  text-decoration: none; /* يشيل الخط */
  color: #e6eef8; /* لون النص */
  font-weight: 600;
  font-size: 16px;
  transition: 0.3s;
}

.first-nav li a:hover {
  color: #06b6d4; /* لون عند المرور */
}

.navbar {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  background-color: transparent;
  position: fixed !important;

  width: 100%;
  background-color: var(--accent-color);
  padding: 15px;
  transition: all 0.3s ease;
  top: 50px;
  z-index: 1050;
}
.navbar.scrolled {
  background-color: black;
  color: var(--primary-color) !important;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.navbar .container-fluid {
  /* padding-top: 20px;
    padding-bottom: 20px; */
  padding-left: 100px;
  padding-right: 100px;
}

.navbar .logo {
  height: auto;
  max-height: 70px;
  width: auto;
}

.navbar-nav {
  margin-left: 400px;
  margin-right: auto;
  gap: 15px;
}

.navbar-nav .nav-link {
  color: var(--primary-color) !important;
  font-size: 16px;
  padding: 8px 12px;
  white-space: nowrap;
}

body.ar .nav-link {
  font-size: 23px;
}

.navbar-nav .nav-link:hover {
  border-bottom: 3px solid var(--primary-color);
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23c9971a' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.navbar .language {
  list-style: none;
  text-decoration: none;
  color: #a8933e;
  margin-left: auto;
  margin-right: auto;
  font-weight: bolder;
}

@media (max-width: 768px) {
  .navbar {
    top: 45px;
  }
  .navbar-nav {
    margin-left: 0;
    margin-right: auto;
    gap: 15px;
  }
  .navbar .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
  }
  .navbar .logo {
    max-height: 60px;
    margin-left: auto;
  }
  .navbar .language {
    margin-left: auto;
  }
  .navbar-toggler {
    margin-right: auto;
    margin-left: auto !important;
    text-align: center;
    border: 2px solid var(--primary-color) !important;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23faa902' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
  }
}

/*
    NAVBAR */

/* ABOUT */
/* HERO MAIN */
.hero img {
  height: 100vh !important;
}

.hero .carousel-caption {
  text-align: center;
}

.hero .carousel-caption h1 {
  font-size: 35px;
  margin-top: -300px;
}

body.ar .hero .carousel-caption h1 {
  font-size: 50px;
  margin-top: -300px;
}

.hero .carousel-button {
  display: inline-block;
  background-color: var(--primary-color);
  border: 2px var(--secondary-color) solid;
  color: var(--secondary-color);
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
  margin-top: 20px;
  font-size: 18px;
}

/* IMAGES & VIDEOS */
.carousel-item img {
  width: 100%;
  height: 86vh !important;
  object-fit: cover;
}

.carousel-caption {
  font-size: 1.2rem;
}

/* ---------- RESPONSIVE ---------- */

@media (max-width: 768px) {
  /* تصغير الصور على الجوال */
  .carousel-item img,
  .carousel-item video {
    width: 100%;
    height: 60vh !important;
    object-fit: cover;
  }

  /* إصلاح اختفاء الكابتشن */
  .hero .carousel-caption {
    margin-bottom: 40px !important; /* بدل 270px */
    text-align: center;
  }

  .hero .carousel-caption h1 {
    font-size: 22px !important;
    line-height: 1.3;
    margin-top: -210px;
  }

  body .ar .hero .carousel-caption h1 {
    font-size: 30px !important;
    margin-top: -210px;
  }

  .hero .carousel-button {
    font-size: 14px !important;
    padding: 8px 16px;
  }

  .carousel-caption {
    bottom: 20px !important;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .carousel-item img,
  .carousel-item video {
    height: 50vh !important;
  }

  .hero .carousel-caption {
    margin-bottom: 25px !important;
  }

  .hero .carousel-caption h1 {
    font-size: 18px !important;
  }

  .hero .carousel-button {
    font-size: 13px !important;
    padding: 6px 14px;
  }
}

/* HERO */

.about {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--secondary-color);
}

.about h2 {
  color: var(--primary-color);
  width: 100%;
  text-align: center;
}

body.ar .about h2 {
  font-size: 40px;
}

.about h2::after {
  content: "";
  display: block;
  width: 140px;
  height: 4px;
  background: var(--primary-color);
  margin: 10px auto 0;
  border-radius: 2px;
}

body.ar .about h2::after {
  width: 110px;
}

.about .container {
  margin-top: 70px;
}

.about .img img {
  width: 75%;
  border-radius: 10px;
  margin-left: 100px;
}

.about .text {
  color: black;
}

.about .text p {
  font-size: 17px;
  line-height: 30px;
}

.about .text h3 {
  margin-top: 50px;
}

body.ar .about .text h3 {
  text-align: right;
  margin-top: 50px;
}

body.ar .about .text p {
  font-size: 20px;
  line-height: 35px;
  text-align: right;
}

.about .a a {
  display: inline-block;
  background-color: var(--primary-color);
  border: 2px var(--secondary-color) solid;
  color: var(--secondary-color);
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
  margin-top: 20px;
  list-style: none;
}

body.ar .about .a {
  text-align: right !important;
}

.about .icons {
  text-decoration: none !important;
  color: var(--primary-color);
  font-size: 20px !important;
  margin-right: 5px !important;
}

body.ar .about .icons {
  text-align: right;
}

.about .a a:hover {
  padding: 12px 22px;
}
@media (max-width: 991.98px) {
  .about .img {
    width: 100% !important;
  }
  .about .text {
    width: 100%;
    text-align: center;
  }
  .about .text p {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 767.98px) {
  .about .img img {
    display: block;
    margin: 0 auto;
    width: 100% !important;
  }
  .about .text {
    width: 100%;
    text-align: center;
    margin-top: 50px !important;
  }
  .about .text p {
    width: 100%;
    text-align: center;
  }
}

/* ABOUT */

.gallery {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--secondary-color);
}
.gallery h2 {
  color: var(--primary-color);
  width: 100%;
  text-align: center;
}

body.ar .gallery h2 {
  font-size: 40px;
}

.gallery h2::after {
  content: "";
  display: block;
  width: 100px;
  height: 4px;
  background: var(--primary-color);
  margin: 10px auto 0;
  border-radius: 2px;
}

body.ar .gallery h2::after {
  width: 120px;
}

.gallery img {
  width: 100%;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  border: 0;
  border-radius: 10px;
  display: block;
  object-fit: cover;
  max-width: 100%;
}
.gallery img {
  width: 100%;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  border: 0;
  border-radius: 10px;
  display: block;
  object-fit: cover;
  height: 400px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  max-width: 100%;
  height: 400px;
  align-items: center;
  margin-top: 20px;
}

.image-container img:hover {
  width: 100%;
  max-width: 100%;
}
.image-container:hover .overlay {
  opacity: 1;
  border-radius: 10;
}

.gallery .image-container {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.gallery .a {
  text-align: center;
}
.gallery a {
  display: inline-block;
  background-color: var(--primary-color);
  border: 2px var(--secondary-color) solid;
  color: var(--secondary-color);
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
}
.gallery a:hover {
  padding: 12px 22px;
}

@media (max-width: 768px) {
  .gallery img {
    height: 300px;
  }
  .overlay {
    height: 300px;
  }
}

/* GALLERY */

.services {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--accent-color);
}

.services h2 {
  color: var(--secondary-color);
  width: 100%;
  text-align: center;
}

body.ar .services h2 {
  font-size: 40px;
}

.services h2::after {
  content: "";
  display: block;
  width: 120px;
  height: 4px;
  background: var(--primary-color);
  margin: 10px auto 0;
  border-radius: 2px;
}

body.ar .services h2::after {
  width: 100px;
}

.services .container {
  width: 100%;
  text-align: center !important;
  margin-top: 50px;
}

.services .card {
  height: 500px !important;
  border-radius: 20px;
  text-align: center !important;
}
body.ar .services .card h5 {
  font-size: 25px;
  font-weight: bolder;
}
.services img {
  height: 270px;
  border-radius: 20px 20px 0px 0px;
}
.services .a {
  margin-top: 30px;
}
.services a {
  background-color: var(--primary-color);
  border: 2px var(--secondary-color) solid;
  color: var(--secondary-color);
  padding: 7px 17px;
  border-radius: 50px;
  list-style: none;
  text-decoration: none;
  font-size: 20px;
}

body.ar .services a {
  font-size: 20px;
  padding: 10px 20px;
}

.services a:hover {
  padding: 12px 22px;
}

@media (max-width: 768px) {
  .services .card {
    height: 500px !important;
  }
}

/* SERVICES */

.timer {
  background-image: url("image/timer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding-top: 70px;
  padding-bottom: 70px;
}

.timer .counter {
  color: var(--secondary-color);
  font-size: 50px !important;
}

.timer h6 {
  color: var(--secondary-color);
}

.timer .text {
  border: 2px var(--secondary-color) solid;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 30px;
}

.timer p {
  color: var(--secondary-color);
  margin-top: -10px;
  font-size: 25px;
}

body.ar .timer p {
  font-size: 50px;
}

@media (max-width: 768px) {
  .timer .text {
    height: 10vh;
    align-items: center;
  }
  .timer .text h3 {
    margin-top: -50px;
  }
}

/* TIMER */

.references {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--secondary-color);
}

.references .row {
  width: 100%;
  margin: auto;
  padding: auto;
}

.references h2 {
  color: var(--primary-color);
  width: 100%;
  text-align: center;
}

body.ar .references h2 {
  font-size: 40px;
}

.references h2::after {
  content: "";
  display: block;
  width: 160px;
  height: 4px;
  background: var(--primary-color);
  margin: 10px auto 0;
  border-radius: 2px;
}

body.ar .references h2::after {
  width: 100px;
}

.references .img {
  margin-top: 50px;
}
.references .img img {
  width: 100%;
  border-radius: 10px;

  height: 100% !important;
}

.references .img-meet {
  margin-top: 100px;
}
.references .img-meet img {
  width: 100%;
  border-radius: 10px;
  height: 100% !important;
}

.references .text {
  margin-top: 250px;
  color: black;
}

.references .text-meet {
  margin-top: 270px;
  color: black;
}
.references .text h3 {
  margin-top: -100px;
}

body.ar .references h3 {
  text-align: left !important;
  margin-bottom: 50px;
}

.references .text p {
  font-size: 17px;
  line-height: 30px;
}

body.ar .references .text p {
  text-align: right;
  font-size: 23px;
}

.references .text-meet h3 {
  margin-top: -100px;
}

body.ar .references .text-meet h3 {
  text-align: left !important;
  margin-bottom: 50px;
}

.references .text-meet p {
  font-size: 17px;
  line-height: 30px;
}

body.ar .references .text-meet p {
  text-align: right;
  font-size: 23px;
}

.references .a {
  text-align: center;
  margin-top: 50px;
}
.references a {
  display: inline-block;
  background-color: var(--primary-color);
  border: 2px var(--secondary-color) solid;
  color: var(--secondary-color);
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
  text-align: center;
}
.references a:hover {
  padding: 12px 22px;
}
@media (max-width: 991.98px) {
  .references .img {
    width: 100% !important;
  }
  .references .text {
    width: 100%;
    text-align: center;
  }
  .references .text p {
    width: 100%;
    text-align: center;
  }
  .references .text {
    margin-top: 150px !important;
  }
  .references .text-meet {
    margin-top: 150px !important;
  }
}

@media (max-width: 767.98px) {
  .references .img img {
    display: block;
    margin: 0 auto;
    width: 100% !important;
  }
  .references .text {
    width: 100%;
    text-align: center;
  }
  .references .text p {
    width: 100%;
    text-align: center;
  }

  .references .img-meet img {
    display: block;
    margin: 0 auto;
    width: 100% !important;
  }
  .references .text-meet {
    width: 100%;
    text-align: center;
  }
  .references .text-meet p {
    width: 100%;
    text-align: center;
  }
}

/* REFERENCES */

.works {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--accent-color);
}

.works .h2 {
  color: var(--primary-color) !important;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

body.ar .works .h2 {
  font-size: 40px;
}

.works .h2::after {
  content: "";
  display: block;
  width: 230px;
  height: 4px;
  background: var(--primary-color);
  margin: 10px auto 0;
  border-radius: 2px;
}

body.ar .works .h2::after {
  width: 140px;
}

.works h2 {
  color: var(--primary-color) !important;
}
.works .card {
  text-align: left;
  margin-top: 20px;
  transition: border 0.3s ease;
}
.works .card:hover {
  border: 2px var(--primary-color) solid;
}
.works h3 {
  width: 50px;
  height: 50px;
  background-color: var(--primary-color);
  color: var(--accent-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  margin: 0 auto 15px;
}
.works hr {
  color: var(--primary-color);
  position: relative;
  top: 40px;
  left: 150px;
  width: 75%;
}

body.ar .works .card h5 {
  text-align: right !important;
  font-size: 23px;
  font-weight: bolder;
}

body.ar .works .card p {
  text-align: right !important;
  font-size: 17px;
}

@media (max-width: 768px) {
  .works hr {
    width: 0;
  }
  .works .card {
    margin-bottom: 30px;
  }
}
/* WORKS */

.contact {
  padding-top: 50px;
  padding-bottom: 50px;
}

.contact .h2 {
  color: var(--primary-color);
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

body.ar .contact .h2 {
  font-size: 40px;
}

.contact .h2::after {
  content: "";
  display: block;
  width: 160px;
  height: 4px;
  background: var(--primary-color);
  margin: 10px auto 0;
  border-radius: 2px;
}

body.ar .contact .h2::after {
  width: 150px;
}

.contact .call {
  text-align: left;
}

body.ar .contact .call a {
  font-size: 17px;
}

.contact img {
  width: 40%;
  margin-bottom: 30px;
}
.contact .pages {
  text-align: left;
}
.contact .pages h2 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: 50px;
}

.contact .pages h3 {
  font-size: 20px;
  font-weight: 300;
}

/* .contact .info input {
        padding: 10px 100px;
        border-radius: 10px;
        margin-top: 20px;
    } */

.contact .info .input {
  padding: 10px 100px !important;
  border-radius: 10px;
  margin-top: 20px;
  font-size: 14px;
}

.contact .info .input::placeholder {
  color: #aaa;
}

.contact button {
  padding: 10px 165px;
  border-radius: 10px;
  margin-top: 20px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.contact a {
  text-decoration: none;
  color: #333;
}
.contact .pages a {
  display: block;
  margin: 10px 0;
  text-decoration: none;
  color: #333;
}

@media (max-width: 768px) {
  .contact .info .input {
    padding: 10px 50px;
  }

  .contact button {
    padding: 10px 170px;
  }
}

/* CONTACT */

footer {
  background-color: var(--primary-color);
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0 12px 32px rgb(0, 0, 0);
}
footer h2 {
  color: var(--secondary-color);
  text-align: center;
  font-size: 20px;
  align-items: center;
}
@media (max-width: 768px) {
  footer h2 {
    font-size: 12px;
  }
}

.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #25d366;
  color: white;
  border-radius: 50%;
  font-size: 30px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-decoration: none;
}

.whatsapp-float:hover {
  background-color: #1ebe5d;
  transform: scale(1.1);
  text-decoration: none;
}
